body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
#title{
    text-align: center;
    margin: 20px;
    font-size: 30px;
}

#container{
    display: flex;
    justify-content: space-around;
    align-items: center;

    height:20px;
}