<!DOCTYPE html>
<html>

<head>
    <title> {{title}} </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>BitCoins Dashboard</h1>
    <canvas id="myChart" width="400" height="200px"></canvas>
    <button id="btn-bitcoin">Get Bitcoins Data</button>
</body>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/javascripts/financial-data.js" charset="utf-8"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>

</html>